@font-face {
  font-family: Sequel;
  src: url("Assets/Sequel_Demo.ttf");
}

@font-face {
  font-family: TomatoRound;
  src: url("Assets/tomatoroundcondensed-thin.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  min-width: 100vw;
  min-height: 100vh;
}

canvas {
  position: absolute;
  z-index: -1;
  min-height: max-content;
}

.container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  min-width: 100vw;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  gap: 0.5rem;
  padding: 20px;
}

.logo img {
  width: 4rem;
  object-fit: contain;
}

.logo .text {
  font-size: 2rem;
  color: white;
  font-family: Sequel;
  align-self: center;
}

.logo .text span {
  color: crimson;
}


.navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-family: Sequel;
  color: white;
  align-self: center;
  font-size: 1.5rem;
  padding: 20px;
}

.navbar span {
  display: inline-block;
  transition: color 0.3s ease;
  min-width: fit-content;
}

.navbar span:hover {
  color: #C64835;
  cursor: pointer;
}

.container .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  min-width: 100vw;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.middle img {
  width: 25rem;
  aspect-ratio: 1;
  object-fit: contain;
}

.middle .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  position: absolute;
  color: white;
  font-size: 6rem;
  font-family: Sequel;
  margin-left: -1rem;
  text-shadow: 4px 4px 8px black;
  cursor: default;
  transform: translateY(-25%);
}

.middle .text * {
  transition: text-shadow 0.3s ease-in-out;
}

.middle .text *:hover {
  text-shadow: 8px 8px 8px black;
}

.middle .subText {
  font-size: 0.9rem;
  color: white;
  text-shadow: 4px 4px 8px black;
}

.button {
  color: white;
  font-size: 1rem;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#FDC98C, rgb(197, 0, 49));
  font-family: Sequel;
  border-radius: 50px;
  margin-top: 20px;
}

.leftPane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.leftPane img {
  width: 10rem;
  aspect-ratio: 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: TomatoRound;
  align-self: flex-start;
  margin-top: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.rightPane {
  padding: 20px;
}

.rightPane .info {
  align-self: flex-end;
}

.rightPane .card {
  text-align: right;
}

.info .header {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.25rem;
  margin: 0;
}

.rightPane .header {
  align-self: flex-end;
}

.info .text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}

.iter {
  font-size: 0.65rem;
  color: #CD5B44;
  margin-top: 3rem;
}

.iter:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 890px) {
  .header {
    flex-direction: row;
  }

  .navbar {
    display: none;
  }

  .leftPane {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .leftPane .info {
    justify-content: center;
    align-self: center;
  }

  .rightPane .info {
    justify-content: center;
    align-self: center;
  }

  .leftPane .card {
    flex-direction: row;
    align-self: center;
    gap: 1rem;
    align-items: center;
  }

  .rightPane .card {
    flex-direction: row;
    align-self: center;
    gap: 1rem;
    align-items: center;
  }



  .leftPane .card * {
    align-self: center;
  }

  .container .body {
    flex-direction: column;
  }

  .middle {
    margin-top: 2rem;
  }
}