@font-face {
    font-family: Sequel;
    src: url("Assets/Sequel_Demo.ttf");
}

@font-face {
    font-family: TomatoRound;
    src: url("Assets/tomatoroundcondensed-thin.ttf");
}

body {
    overflow: hidden;
    background-color: black;
}

#MarsIMG {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url("./Assets/Mars.png") no-repeat;
    width: 718px;
    height: 715px;
    transform: translate(-50%, -50%);
    user-select: none;
    margin-left: 1%;
}

#MainTxt {
    font-size: 9vw;
    font-family: Sequel;
    color: white;
    position: absolute;
    top: 47.5%;
    left: 51%;
    text-shadow: 4px 4px 8px black;
    user-select: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}

#SubTxt {
    font-size: 1.4vw;
    font-family: Sequel;
    color: white;
    position: absolute;
    top: 55%;
    left: 46%;
    margin-top: 20px;
    text-shadow: 4px 4px 8px black;
    text-transform: uppercase;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

#MainTxt:hover,
#SubTxt:hover {
    text-shadow: 8px 8px 8px black;
}

.TourBtn {
    color: white;
    font-family: Sequel;
    font-size: 2.4vh;
    position: absolute;
    left: 50%;
    bottom: 2%;
    width: 10%;
    background: linear-gradient(#FDC98C 1%, rgb(197, 0, 49));
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 0.5%;
    transform: translate(-50%, -50%);

}

.TourBtn:hover {
    cursor: pointer;
}

.rightPane {
    position: absolute;
    right: 3%;
    top: 28%;
    text-align: right;
    letter-spacing: 0.1px;

}

.Head {
    color: rgba(255, 255, 255, 0.8);
    font-size: 3vh;
    font-family: TomatoRound;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-top: 10px;
}


.Info {
    color: rgba(255, 255, 255, 0.6);
    font-family: TomatoRound;
    font-size: 2.25vh;
    letter-spacing: 0.1px;
    margin-top: -10px;
}

.LeftPane {
    text-align: left;
}

.LeftPane img {
    position: absolute;
    left: 6%;
    top: 35%;
    width: 12%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.LeftPane .Head {
    position: absolute;
    top: 51%;
    left: 2%;
}

.LeftPane .Info {
    position: absolute;
    top: 57%;
    left: 2%;
    letter-spacing: -1px;
}

#head12 {
    top: 60%;
}

#info12 {
    top: 66%;
}


#JourneyLink {
    color: #CD5B44;
    position: absolute;
    top: 70%;
    left: 2%;
    font-size: 1.55vh;
}

#JourneyLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.leftFooter,
.rightFooter {
    display: flex;
    flex-direction: row;
    user-select: none;
}

#LeftArrow {
    font-size: 6vh;
    color: #eee;
    position: absolute;
    bottom: 4%;
    left: 1%;
    cursor: pointer;
}

#JupiterImg {
    width: 10%;
    position: absolute;
    bottom: 0%;
    left: 2.5%;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

#JupiName {
    font-size: 2.25vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: TomatoRound;
    position: absolute;
    bottom: 6.5%;
    left: 12%;
}

#RightArrow {
    font-size: 6vh;
    color: #eee;
    position: absolute;
    bottom: 4%;
    right: 1%;
    cursor: pointer;
}

#NeptuneImg {
    width: 6%;
    position: absolute;
    bottom: 3.5%;
    right: 4%;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

#NeptName {
    font-size: 2.25vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: TomatoRound;
    position: absolute;
    bottom: 6.5%;
    right: 12%;
}

.logo {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    font-family: Sequel;
    font-size: 24px;
    user-select: none;
}

#RedPlanet {
    width: 50%;
    position: absolute;
    left: -55%;
    top: -40%;
}

.NavBar {
    color: white;
    position: absolute;
    top: 2%;
    right: 2%;
    font-family: Sequel;
    font-size: 24px;
}

.NavBar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    user-select: none;
}

.NavBar ul li {
    margin: 2%;
    width: 135px;
    transition: all 0.3s ease 0s;
}

.NavBar ul li:nth-child(1) {
    margin: 2%;
    width: 75px;
    transition: all 0.3s ease 0s;
}

.NavBar ul li:nth-child(4) {
    width: 200px;
}

.NavBar ul li:hover {
    color: #C64835;
    cursor: pointer;
}